:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #BFA2CB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 95vh;
  width: 90vw;
  background-color: #E1F0F6;
  border-radius: 20px;
  background-size: 50px 50px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 8px 20px 5px #b3ceda;

  background-image:
      linear-gradient(to right, #E5B6D4 1px, transparent 1px),
      linear-gradient(to bottom, #E5B6D4 1px, transparent 1px);
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}